.jumbotron {
  background-color: #008000;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ffff00;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-product {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-product {
  width: 100%;
  border-radius: 0px; }

.card-img-top {
  max-width: 100%;
  flex-shrink: 0; }

.thead-alimentacion, .thead-juguetes, .thead-higiene {
  color: #ffffff;
  background-color: #007bff; }
