$red: #ff0000;
$green: #008000;
$blue: #007bff;
$white: #ffffff;
$black: #000000;
$yellow: #ffff00;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron {
	background-color: $green;
	color: $white;
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	color: $black;
	@include margenes(10px, 0px);
}

.card-product {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-product {
	width: 100%;
	border-radius: 0px;
}

.card-img-top {
	max-width: 100%;
	flex-shrink: 0;
}

.thead-alimentacion, .thead-juguetes, .thead-higiene {
	color: $white;
  	background-color: $blue;
}